<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Configuração para o console -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- Configuração para arquivo de log -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/portaria.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rolar logs diariamente e manter logs de até 30 dias -->
      <fileNamePattern>logs/portaria-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- Para erros relacionados ao banco de dados, quero um log mais detalhado -->
  <logger name="com.ghg.dao" level="DEBUG" />
  <logger name="com.ghg.data" level="DEBUG" />
  
  <!-- Nível raiz (padrão) de logging: INFO -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
</configuration>